{% extends "base.html" %}
{% load static %}
{% load bag_tools %}
{% block page_header %}

<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <button type="button" class="btn btn-dark btn-lg">
                <a class="text-white" href="{% url 'products' %}">
                    <span><i class="fa-solid fa-chevron-left text-white"></i> Continue Shopping</span>
                </a>
            </button>
            <hr class="text-muted">
            <h2 class="logo-font my-4">Your Shopping Bag</h2>
            <hr class="text-muted">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {% if bag_items %}
            {% for item in bag_items %}
            <div class="row {% if not forloop.last %}border-bottom{% endif %} py-3">
                <div class="col-6">
                    {% if item.product.image1 %}
                    <img src="{{ item.product.image1.url }}" alt="{{ item.product.name }}" class="img-fluid img-md">
                    {% else %}
                    <img src="{{ MEDIA_URL }}/noimage.png" alt="{{ product.name }}" class="img-fluid img-md">
                    {% endif %}
                </div>

                <div class="col-5">
                    <p>{{ item.product.name }} <br>
                        Size: {% if item.product.has_sizes %}{{ item.size|upper }}{% else %}N/A{% endif %} <br>

                        Color: {% if item.product.colors %}{{ item.color|upper }}{% else %}N/A{% endif %} <br>
                        SKU : {{ item.product.sku }} <br>
                        Price : {{ item.product.price }} <br>
                        Subtotal : {{ item.product.price | calc_subtotal:item.quantity }}
                    </p>
                </div>

                <div class="col-5 offset-6 col-md-3 offset-md-9">
                    {% include 'bag/includes/bag-products-form.html' %}
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p>Your bag is empty</p>
            {% endif %}
        </div>
    </div>
</div>
{% if bag_items %}
<div class="container-fluid bg-light my-3 py-4">
    <div class="row">
        <div class="col-8 offset-2">
            <h2 class="my-3">Total</h2>
            <hr class="text-muted">
            <div class="row">
                <div class="col-6">
                    <h6>Bag Total:</h6>
                </div>
                <div class="col-6">
                    <h6 class="text-end">€{{ total|floatformat:2 }}</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <h6>Delivery:</h6>
                </div>
                <div class="col-6">
                    <h6 class="text-end">€{{ delivery|floatformat:2 }}</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <strong class="fw-bolder">
                        <h6 class="fw-bolder">Grand Total</h6>
                    </strong>
                </div>
                <div class="col-6">
                    <strong class="fw-bolder">
                        <h6 class="text-end fw-bolder">€{{ grand_total|floatformat:2 }}</h6>
                    </strong>
                </div>
            </div>
            {% if free_delivery_delta %}
            <p>You could get free delivery by spending just €{{ free_delivery_delta|floatformat:2 }} more!</p>
            {% endif %}
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 text-center btn-group-custom">
            <button type="button" class="btn btn-dark btn-lg">
                <a class="text-white" href="{% url 'products' %}">
                    <span><i class="fa-solid fa-chevron-left text-white"></i> Continue Shopping</span>
                </a>
            </button>
            <button type="button" class="btn btn-dark btn-lg">
                <a class="text-white" href="{% url 'checkout' %}">
                    <span><i class="fa-solid fa-credit-card text-white"></i> Check Out</span>
                </a>
            </button>

        </div>
    </div>
</div>
{% endif %}
{% endblock %}



{% block postloadjs %}
{{ block.super }}


<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function (e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('product_size');
        var color = $(this).data('product_color');
        var url = `/bag/remove/${itemId}/`;
        var data = {
            'csrfmiddlewaretoken': csrfToken,
            'product_size': size,
            'product_color': color
        };


        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}