{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container"></div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container anim-card-container">
        <div class="row mt-2">
            <div class="col-12 col-md-6 mr-n2">
                <a href="{% url 'products' %}?category=dogs&subcategory=nutrition,snacks,toys,care,pillows,baskets,collars,clothing,belts,leashes,accessories,dietary_supplements" class="text-center">
                    <img id="up-fade-in" class="img-responsive float-end" src="{{ MEDIA_URL }}/happy_dog.PNG" alt="image of a smiling dog">
                </a>
            </div>
            <div class="col-12 col-md-6 ml-n2">
                <a href="{% url 'products' %}?category=cats&subcategory=nutrition,snacks,toys,care,pillows,baskets,collars,clothing,belts,leashes,accessories,dietary_supplements,cat_litter">
                    <img id="right-fade-in" class="img-responsive float-start" src="{{ MEDIA_URL }}/cat.PNG" alt="image of a curious cat">
                </a>
            </div>
        </div>
        <div class="row position-relative d-none d-md-block">
            <div class="col-12">
                <a href="{% url 'products' %}" class="btn btn-black btn-lg shop-all-btn position-absolute top-50 start-50 translate-middle">Shop All</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 left mr-n2">
                <a href="{% url 'products' %}?category=rodents&subcategory=nutrition,snacks,toys,care,collars,accessories,dietary_supplements,rodent_house">
                    <img id="left-fade-in" class="img-responsive float-end" src="{{ MEDIA_URL }}/rodent.PNG" alt="image of a cute rabbit">
                </a>
            </div>
            <div class="col-12 col-md-6 left ml-n2">
                <a href="{% url 'products' %}?category=birds&subcategory=nutrition,snacks,toys,care,accessories,dietary_supplements,bird_houses,chicken_feed">
                    <img id="bottom-fade-in" class="img-responsive float-start" src="{{ MEDIA_URL }}/pirrot.PNG" alt="image of a vivid pirrot">
                </a>
            </div>
        </div>
        <div class="row d-block d-md-none mt-3">
            <div class="col-12 text-center">
                <a href="{% url 'products' %}" class="btn btn-black btn-lg">Shop All</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block corejs %}
{{ block.super }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
{% endblock %}


{% block postloadjs %}
{{ block.super }}
    <script>
        // Animating the animal cards on window load
        function homePageAnimCards(){
            document.addEventListener("DOMContentLoaded", function(event) {
            window.onload = function(){
            gsap.fromTo(".shop-all-btn",
                {
                    autoAlpha: 0
                },
                {
                    autoAlpha: 1, duration: 2, delay:3, zIndex:999
                }
            );

            gsap.from("#up-fade-in", {
            duration: 3,
            ease: "power1.out",
            y: -500,
            opacity: 1,
            });

            gsap.from("#right-fade-in", {
                duration: 3,
                ease: "power1.out",
                x: 500,
                opacity: 1,
            });

            // This format of animation fixes the unwanted white space below the footer on safari browsers.
            gsap.fromTo("#bottom-fade-in",
                {
                    autoAlpha: 0,
                    y: 500,
                },
                {
                    autoAlpha: 1,
                    duration: 3,
                    opacity: 1,
                    ease: "power1.out",
                    y:0,
                }
            );

            gsap.from("#left-fade-in", {
                duration: 3,
                ease: "power1.out",
                x: -500,
                opacity: 1,
            });
            }})
        }
            if ($(window).width() > 768) {
                homePageAnimCards();
            }
    </script>
{% endblock %}
