{% extends "base.html" %}
{% load static %}
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
            
        </div>
    </div>
</div>
{% endblock %}


{% block content %}
    <div class="container anim-card-container">
        <div class="row mt-2">
            <div class="col-12 col-md-6 mr-n2">
                <a href="#" class="text-center">
                    <img id="up-fade-in" class="img-responsive float-end" src="media/happy_dog.PNG" alt="happy dog image">
                </a>
            </div>
            <div class="col-12 col-md-6 ml-n2">
                <a href="#">
                    <img id="right-fade-in" class="img-responsive float-start" src="media/cat.PNG" alt="cat image">
                </a>
            </div>
        </div>
        <div class="row position-relative d-none d-md-block">
            <div class="col-12">
                <a href="#" class="btn btn-black btn-lg shop-all-btn position-absolute top-50 start-50 translate-middle">Shop All</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 left mr-n2">
                <a href="#">
                    <img id="left-fade-in" class="img-responsive float-end" src="media/rodent.PNG" alt="Rodent image">
                </a>
            </div>
            <div class="col-12 col-md-6 left ml-n2">
                <a href="#">
                    <img id="bottom-fade-in" class="img-responsive float-start" src="media/pirrot.PNG" alt="Pirrot image">
                </a>
            </div>
        </div>
        <div class="row d-block d-md-none my-2">
            <div class="col-12 text-center">
                <a href="#" class="btn btn-black btn-lg shop-all-btn position-absolute top-50 start-50 translate-middle">Shop All</a>
            </div>
        </div>
    </div> 

{% endblock %}


{% block corejs %}
{{ block.super }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
{% endblock %}



{% block postloadjs %}
{{ block.super }}
<script>
    // Animating the animal cards on window load
    function homePageAnimCards(){
        document.addEventListener("DOMContentLoaded", function(event) {
        window.onload = function(){ 
        gsap.fromTo(".shop-all-btn",
            {
                autoAlpha: 0
            }, 
            {
                autoAlpha: 1, duration: 2, delay:3, zIndex:999
            }
        );

        gsap.from("#up-fade-in", {
        duration: 3,
        ease: "power1.out",
        y: -500,
        opacity: 1,
        });

        gsap.from("#right-fade-in", {
            duration: 3,
            ease: "power1.out",
            x: 500,
            opacity: 1,
        });

        gsap.from("#bottom-fade-in", {
            duration: 3,
            ease: "power1.out",
            y: 500,
            opacity: 1,
        });

        gsap.from("#left-fade-in", {
            duration: 3,
            ease: "power1.out",
            x: -500,
            opacity: 1,
        });
        }})
    }

    if ($(window).width() > 768) {
        homePageAnimCards();
    }
</script>

{% endblock %}
