{% extends "base.html" %}
{% load static %}
{% block page_header %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}


<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="overlay"></div>
<div class="container">

    <div class="row">
        <div class="col-6">
            <button class="btn btn-lg btn-dark w-100">Profile Info</button>
        </div>

        <div class="col-6">
            <button class="btn btn-lg btn-dark w-100">Order History</button>
        </div>
    </div>
    <div class="row">
        <div class="col-6 border border-3 rounded-3">
            <p class="text-start">
                Username : {{ profile }}</p>
            <p class="text-start">
                Email Address : {{ profile.user.email }}</p>
            <p class="text-start">
                Telephone Number :
                {% if profile.default_phone_number %}
                {{ profile.default_phone_number }}
                {% else %}
                <small class="text-info"> Not Filled Yet </small>
                {% endif %}
            </p>
            <p class="text-start">
                Country :
                {% if profile.default_country %}
                {{ profile.default_country }}
                {% else %}
                <small class="text-info"> Not Filled Yet </small>
                {% endif %}
            </p>
            <p class="text-start">
                Post Code :
                {% if profile.default_postcode %}
                {{ profile.default_postcode }}
                {% else %}
                <small class="text-info"> Not Filled Yet </small>
                {% endif %}
            </p>
            <p class="text-start">
                City or Town :
                {% if profile.default_city %}
                {{ profile.default_city }}
                {% else %}
                <small class="text-info"> Not Filled Yet </small>
                {% endif %}
            </p>
            <p class="text-start">
                Street Adress 1 :
                {% if profile.default_street_address1 %}
                {{ profile.default_street_address1 }}
                {% else %}
                <small class="text-info"> Not Filled Yet </small>
                {% endif %}
            </p>
            <p class="text-start">
                Street Address 2 :
                {% if profile.default_street_address2 %}
                {{ profile.default_street_address2 }}
                {% else %}
                <small class="text-info"> Not Filled Yet </small>
                {% endif %}
            </p>

            <button class="btn btn-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                aria-controls="offcanvasRight">Update Profile</button>

            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight"
                aria-labelledby="offcanvasRightLabel">
                <div class="offcanvas-header">
                    <h5 id="offcanvasRightLabel">Update Profile</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div class="row">
                        <div class="col-12">
                            <h3>Edit Profile</h3>
                            <form action="{% url 'profile' %}" method="POST" id="profile-update-form">
                                {% csrf_token %}
                                {{ form | crispy }}
                                <div class="text-center">
                                    <button type="submit" class="btn btn-black text-center">Update Information</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 border border-3 rounded-3">
            <div class="order-history-table table-responsive">
                <table class="table table-sm table-borderless">
                    <thead>
                        <tr>
                            <th>Order Number</th>
                            <th>Date</th>
                            <th>Items</th>
                            <th>Order Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                        <tr>
                            <td>
                                <a href="{% url 'order_history' order.order_number %}" 
                                    title="{{ order.order_number }}">
                                    {{ order.order_number|truncatechars:6 }}
                                </a>
                            </td>
                            <td>{{ order.date }}</td>
                            <td>
                                <ul class="list_unstyled">
                                    {% for item in order.lineitems.all %}
                                    <li class="small">
                                        {{ item.product.name }}
                                        {{ item.quantity }}
                                        {% if item.product.has_sizes %}
                                        Size : {{ item.size|title }}
                                        {% endif %}

                                        {% if item.product.has_color %}
                                        Color : {{ item.color|title }}
                                        {% endif %}
                                    </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>{{ order.grand_total }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>





</div>

</div>
{% endblock %}



{% block postloadjs %}
{{ block.super }}
<script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}