<div class="collapse col-12 navbar-collapse bg-white" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <a class="font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}"
            id="home-link">
            Home
        </a>
        <!-- --------------------------------------All Products------------------------------------ -->
        <li class="nav-item dropdown px-2">
            <a class="nav-link text-black" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">All Products</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">By Price</a></li>
                <li><a class="dropdown-item" href="#">By Rating</a></li>
                <li><a class="dropdown-item" href="#">By Category</a></li>
                <li><a class="dropdown-item" href="#">All Products</a></li>
            </ul>
        </li>
        <!-- ---------------------------------------Dogs------------------------------------ -->
        <li class="nav-item dropdown px-2">
            <a class="nav-link text-black" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">Dogs</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Nutrition</a></li>
                <li><a class="dropdown-item" href="#">Snacks</a></li>
                <li><a class="dropdown-item" href="#">Toys</a></li>
                <li><a class="dropdown-item" href="#">Care</a></li>
                <li><a class="dropdown-item" href="#">Pillows & Baskets</a></li>
                <li><a class="dropdown-item" href="#">Collars</a></li>
                <li><a class="dropdown-item" href="#">Clothing</a></li>
                <li><a class="dropdown-item" href="#">Belts & Leashes</a></li>
                <li><a class="dropdown-item" href="#">Accessories</a></li>
                <li><a class="dropdown-item" href="#">Dietry Supplements</a></li>
                <li><a class="dropdown-item" href="#">All For Your Dog</a></li>
            </ul>
        </li>
        <!-- ---------------------------------------cats------------------------------------ -->
        <li class="nav-item dropdown px-2">
            <a class="nav-link text-black" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">Cats</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Nutrition</a></li>
                <li><a class="dropdown-item" href="#">Snacks</a></li>
                <li><a class="dropdown-item" href="#">Toys</a></li>
                <li><a class="dropdown-item" href="#">Care</a></li>
                <li><a class="dropdown-item" href="#">Pillows & Baskets</a></li>
                <li><a class="dropdown-item" href="#">Collars</a></li>
                <li><a class="dropdown-item" href="#">Clothing</a></li>
                <li><a class="dropdown-item" href="#">Belts & Leashes</a></li>
                <li><a class="dropdown-item" href="#">Accessories</a></li>
                <li><a class="dropdown-item" href="#">Dietry Supplements</a></li>
                <li><a class="dropdown-item" href="#">Cat Litter</a></li>
                <li><a class="dropdown-item" href="#">All For Your Cat</a></li>
            </ul>
        </li>
        <!-- ---------------------------------------birds------------------------------------ -->
        <li class="nav-item dropdown px-2">
            <a class="nav-link text-black" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">Birds</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Nutrition</a></li>
                <li><a class="dropdown-item" href="#">Snacks</a></li>
                <li><a class="dropdown-item" href="#">Toys</a></li>
                <li><a class="dropdown-item" href="#">Care</a></li>
                <li><a class="dropdown-item" href="#">Accessories</a></li>
                <li><a class="dropdown-item" href="#">Dietry Supplements</a></li>
                <li><a class="dropdown-item" href="#">Bird Houses</a></li>
                <li><a class="dropdown-item" href="#">Chicken Feed</a></li>
                <li><a class="dropdown-item" href="#">All For Your Bird</a></li>
            </ul>
        </li>
        <!-- ---------------------------------------rodents------------------------------------ -->
        <li class="nav-item dropdown px-2">
            <a class="nav-link text-black" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">Rodents</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Nutrition</a></li>
                <li><a class="dropdown-item" href="#">Snacks</a></li>
                <li><a class="dropdown-item" href="#">Toys</a></li>
                <li><a class="dropdown-item" href="#">Care</a></li>
                <li><a class="dropdown-item" href="#">Collars</a></li>
                <li><a class="dropdown-item" href="#">Accessories</a></li>
                <li><a class="dropdown-item" href="#">Dietry Supplements</a></li>
                <li><a class="dropdown-item" href="#">Rodent Houses</a></li>
                <li><a class="dropdown-item" href="#">All For Your Rodent</a></li>
            </ul>
        </li>
    </ul>
</div>