{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="header-container-allauth"></div>
{% endblock %}

{% block content %}
<div class="page_404 row">
    <div class="row justify-content-md-center text-center mx-auto">
        <div class="col-12 col-lg-4 align-self-lg-center text-center mt-5 pt-md-5 pt-lg-0 pt-md-0 mt-lg-0">
            <h1 class="text-center">Ops! Page not found</h1>
            <h4 class="text-center">Lets go back home</h4>
            <a href="{% url 'home' %}" class="btn btn-black rounded-3 text-white text-center">
                Home
            </a>
        </div>
    </div>
</div>
{% endblock %}
