{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}


{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col-12">
                <button class="btn btn-outline-dark btn-sm">
                    <a href="{% url 'products' %}" class="text-black">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
                </button>
                {% if product.product_id in request.session.wishlist_item_id %}
                <button class="btn btn-outline-dark btn-sm">
                    <a href="{% url 'remove_from_wishlist' product.product_id %}" class="text-black">
                        <span class="icon">
                            <i class="fa-solid fa-heart"></i>
                        </span>
                        <span class="text-uppercase">Remove From Wish List</span>
                    </a>
                </button>
                {% else %}
                <button class="btn btn-outline-dark btn-sm">
                    <a href="{% url 'add_to_wishlist' product.product_id %}" class="text-black">
                        <span class="icon">
                            <i class="fa-regular fa-heart"></i>
                        </span>
                        <span class="text-uppercase">Add To Wish list</span>
                    </a>
                </button>
                {% endif %}
        </div>
    </div>
    <div class="row my-3">
        <div class="col-12 col-sm-6 mt-3 order-2 order-md-1">
            <div>               
                <h3>{{ product.name }}</h3>
                <h4 class="text-start">€{{ product.price|floatformat:"2" }}</h4>
                <hr>
                <p class="small">
                    <a href="{% url 'products' %}?category={{ product.category.name }}&subcategory={{ product.subcategory.friendly_name }}"
                        class="text-muted text-decoration-none">
                        <i class="fas fa-tags"></i>
                        {{ product.category.name | title }} / {{ product.subcategory.friendly_name }}
                    </a>
                </p>
                {% if product.rating %}
                <small class="text-muted">{{ product.rating }} / 5</small>
                {% else %}
                <small class="text-muted">No Rating</small>
                {% endif %}
            </div>

            <!-- ---------------------------form----------------------- -->
            <form class="form" action="{% url 'add_to_bag' product.product_id %}" method="POST">
                {% csrf_token %}
                <div class="form-row">
                    {% with product.has_sizes as s %}
                    {% if s %}
                    <div class="col-12">
                        <select class="form-control rounded-0 w-50" name="product_size" id='id_product_size'>
                            {% for i in s %}
                            <option value="{{ i }}" {% if i == 'Medium' %}selected{% endif %}>{{ i }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    {% endif %}
                    {% endwith %}

                    {% with product.colors as c %}
                    {% if c %}
                    <div class="col-12 py-2">
                        <select class="form-control rounded-0 w-50" name="product_color" id='id_product_color'>
                            {% for i in c %}
                            <option value="{{ i }}" {% if i == 'black' %}selected{% endif %}>{{ i }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    {% endif %}
                    {% endwith %}
                    <div class="col{% if s %}-12 mt-2{% endif %}">
                        <p class="mt-3"><strong>Quantity:</strong></p>
                        <div class="form-group w-50">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button class="decrement-qty btn btn-black rounded-0"
                                        data-item_id="{{ product.product_id }}"
                                        id="decrement-qty_{{ product.product_id }}">
                                        <span class="icon">
                                            <i class="fas fa-minus"></i>
                                        </span>
                                    </button>
                                </div>
                                <input class="form-control qty_input" type="number" name="quantity" value="1" min="1"
                                    max="99" data-item_id="{{ product.product_id }}"
                                    id="id_qty_{{ product.product_id }}">
                                <div class="input-group-append">
                                    <button class="increment-qty btn btn-black rounded-0"
                                        data-item_id="{{ product.product_id }}"
                                        id="increment-qty_{{ product.product_id }}">
                                        <span class="icon">
                                            <i class="fas fa-plus"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-5 ">
                        <input type="submit" class="btn btn-lg add-to-bag-btn" value="Add to Bag">
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </div>
            </form>

        </div>
        <div class="col-12 col-sm-6 col-lg-5 offset-0 offset-lg-1 order-1 order-md-2">
            <div class="my-5">
                {% if product.image1 and not product.image2%}
                <a href="{{ product.image1.url }}" target="_blank">
                    <img src="{{ product.image1.url }}" class="img-fluid img-lg" alt="{{ product.name }}">
                </a>
                {% elif product.image1 and product.image2 %}
                {% include 'products/includes/product_image_carousel.html' %}
                {% else %}
                <a href="{{ product.image1.url }}">
                    <img src="{{ MEDIA_URL }}noimage.png" class="img-fluid img-lg" alt="{{ product.name }}">
                </a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Product Details
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p>{{ product.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Reviews
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>{{ product.description }}</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-----------------------  Carousel for similar products--------------------- -->
    {% include 'products/includes/similar_products.html' %}

</div>



{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<script>
    function simlilarCarousel() {
        /* This carousel is borrowed from (https://www.codeply.com/p/jCzaESNi07) */
        var myCarousel = document.querySelector('#myCarousel')
        var carousel = new bootstrap.Carousel(myCarousel, {
            interval: 2000,
            wrap: true
        })
        var slides = document.querySelectorAll('.sim-carousel .carousel-item')

        slides.forEach((el) => {
            // number of slides per carousel-item
            const minPerSlide = slides.length
            let next = el.nextElementSibling
            for (var i = 1; i < minPerSlide; i++) {
                if (!next) {
                    // wrap carousel by using first child
                    next = slides[0]
                }
                let cloneChild = next.cloneNode(true)
                el.appendChild(cloneChild.children[0])
                next = next.nextElementSibling
            }
        })
    }


    if ($(window).width() > 767) {
        simlilarCarousel();

    }
</script>


{% endblock %}